# BASICS OF PYTHON

In [ ]:
print("hello world")

# basic types of python

In [ ]:
print(False)
print("swetha udayakumar")
print(6/2)
print(type(6))
print(type("swetha udayakumar"))
print(type("3.4"))
print(type(False))

# Arithmetic Operators

In [ ]:
print(2+3)
print(2-3)
print(2*3)
print(2**3) 
print(7/3)
print(7//3) #floor
print(7%2)

In [ ]:
print(2*4.4)
print(4/2.2)
print(4.3/2.2)
print(6/2)

In [ ]:
list1=['swetha',2,3.4]
print(list1)
list1[0]= 'ranga'
print(list1)

# list

In [ ]:
list1=[1,2,3,4,5]
print(list1)
print(type(list1))

list2=[6,2,'swetha',"koushi",True]
print(list2)

# list indexing

In [ ]:
print(list2[0])
print(list2[1])
print(list2[2])

# updating list

In [ ]:
list2[0]= "krish"
print(list2)

In [ ]:
print(list1+list2)
#print(list1-list2)
#print(list1*list2)
print(list1*2)

# list slicing

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
print(list1[0:4]) #[start index : stop index+1]
print(list1[6:10])
print(list1[2:0])

print(list1[0:7:2])
print(list1[1:8:3])
print(list1[:4])
print(list1[6:])

# negative slicing

In [ ]:
print(list1[-1])
print(list1[-2])
print(list1[-4:])
print(list1[-10:-3:2])
print(list1[::-1])
print(list1[::2])
print(list1[::-2])

# list functions

In [ ]:
print(list1)
print(len(list1))     #length
list1.append("a")
print(list1)          #append
list1.append([45,46])
print(list1)
list1.insert(4,"python")  #insert
print(list1)
list1.insert(4,"swe") #insert diff element in same index
print(list1)
list2=["hello","world"]
list1.extend(list2) #extend
print(list1)
list2=[5,6,7,8,9]
list2.sort()   #sort
print(list2)
list2.sort(reverse=True) #reversing
print(list2)

# string formating

In [ ]:
num1=10
num2=4.2
 
#method1
print("value of number 1 is %d and 2 is %f" %(num1,num2))

# user inputs

In [ ]:
name = input("enter your name:")
print("hello",name)

num=int(input("enter the number"))
print(num)
print(type(num))

# conditional statements

In [ ]:
value=101                      #if condition
if value>100:
    print("greater than 100")
else:
    print("lesser tha 100")
print("successfull")

In [ ]:
value=100                          #nested if
if value>100:
    print("greater than 100")
elif value == 100:
    print("equals to 100")
else:
    print("less than 100")

In [ ]:
fruit= 'Apple'                    #boolean outputs
x= False
if fruit=='Apple':
    x=True
else:
    x=False
print(x)

In [ ]:
fruit= 'Apple'               #single line statements
x= False 
x= True if fruit =='Apple' else False
print(x)

In [ ]:
value=100
print("lesser than 100") if value>100 else print("greater than 100")

# dictionary

- key:value pair   
- keys are unique and immutable and value can be anything
- creating dictionary and accessing elements

In [ ]:
dict1={'jan':31, 'feb':29, 'mar':31}
print(dict1)
print(type(dict1))
print(dict1['jan'])   #accessing elements
dict1['feb'] = 28     #assigning\ updation
print(dict1)
dict1['april']=30    #adding new key to existing dictionary
print(dict1)

In [ ]:
dict3= {'list1': [1,2,'True','False']}
print(dict3)
print(dict3['list1'])

# functions

In [ ]:
dict1={'jan':31, 'feb':29, 'mar':31} #length method
print(len(dict1))

In [ ]:
print(dict1.get('jan'))   #get method
print(dict1.get('feb'))

print(dict1.get('apr'))
print(dict1.get('apr',30)) #get method with 2 arguments

print(dict1.items())
print(type(dict1.items()))
print(list(dict1.items()))  #output in list format


print(dict1.keys())         #key method
print(type(dict1.keys()))
print(list(dict1.keys()))

print(dict1.values())       #values method
print(type(dict1.values()))
print(list(dict1.values()))

# Tuple

- collection of elements , mixed types

In [ ]:
tuple2=(6,2,'swetha',"koushi",True)
print(type(tuple2))
print(tuple2)

print(tuple2[:2])
print(tuple2[-2:])
print(list(tuple2[::-1]))  #typecasting with reversing

#append, insert, update, remove ---- wont work in tuple.

# Loop

In [ ]:
element = int(input("enter elemet"))
for element in range(element):
    print("its inside loop")
print("thankyou")

In [11]:
for element in range(10):
    print("hello world")
for num in range(1,6):
    print(num)

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
1
2
3
4
5

In [5]:
list1=['a','b','c','d','e']
for element in list1:
    print(element)
    print("hello",element.upper())

a
hello A
b
hello B
c
hello C
d
hello D
e
hello E

In [7]:
list1=['a','b','c','d','e']
 
roll=[]
for num in range(len(list1)):
    roll.append(61+num)
print(roll)

[61, 62, 63, 64, 65]

In [12]:
for num in range(1,11):
    if num%2==0:
        print(num)
print("@@@@@@")

2
4
6
8
10
@@@@@@

# while loop

In [13]:
num=0
while num<5:
    print("hello")
    num+=1  #prints output infinite tyms without increment

hello
hello
hello
hello
hello

In [14]:
list1=[1,2,3,4,5]
list2=[]
while(len(list1)>0):
    list2.append(list1[0])
    del list1[0]
    print(list1)
    print(list2)

[2, 3, 4, 5]
[1]
[3, 4, 5]
[1, 2]
[4, 5]
[1, 2, 3]
[5]
[1, 2, 3, 4]
[]
[1, 2, 3, 4, 5]

## string functions

In [17]:
str1="Hello"
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[:3])
print(str1[3:])
print(str1[::-1])
print(str1[::1])

H
e
l
l
Hel
lo
olleH
Hello

In [21]:
for alpha in str1:
    print(alpha,sep ="\t")

H
e
l
l
o

In [26]:
print("hello","world","gud","morning" ,sep="*", end="\t")
print("hw r u?")

hello*world*gud*morning	hw r u?

In [27]:
str1 ="cat is an animal with whiskers "
print(str1.startswith("cat"))
print(str1.endswith("cat"))

if str1.startswith("CAt"):
    print("not correct!!!")
else:
    print("correct")

True
False
correct

In [28]:
print(str1.endswith("whiskers", -10,4))

False

In [31]:
str1="HELLO"
str2="hello"
str3="HellO"

print(str1.islower())
print(str2.islower())
print(str3.islower())

print(str1.isupper())
print(str2.isupper())
print(str3.isupper())

if str3.isupper():
    print("upper case")
elif str3.islower():
    print("lower case")
else:
    print("mixed case")
    
print(str2.upper())
print(str1.lower())

False
True
False
True
False
False
mixed case
HELLO
hello

## replace,join,split functions

In [32]:
str1 = "I like programming"
print(str1)
strnew = str1.replace("like","love")
print(strnew)

str1="I like programming.I like python.I like me"
print(str1)
strnew= str1.replace("like","love",2)  #replace only in 2 places
print(strnew)

I like programming
I love programming
I like programming.I like python.I like me
I love programming.I love python.I like me

In [37]:
list1 = ["02","08","2020"]

date = "-".join(list1)
print(date)

sep="--"
date2= sep.join(list1)
print(date2)

date3="\t".join(("02","08","2020"))
print(date3)

02-08-2020
02--08--2020
02	08	2020

In [43]:
str1="dog,cat,koushi,cow"
print(str1)
print(type(str1))
print(str1.split(','))
print(type(str1.split(',')))
print(str1.split(',',2))

dog,cat,koushi,cow
<class 'str'>
['dog', 'cat', 'koushi', 'cow']
<class 'list'>
['dog', 'cat', 'koushi,cow']